body {

}

div {
    width: 50%;
    margin: 10px auto;
    text-align: center;
}

table {
    margin: 10px auto;
}

td {
    width: 100px;
    height: 100px;
}

tr:nth-of-type(2) td {
    border-top: 2px black solid;
    border-bottom: 2px black solid;
}

tr td:nth-of-type(2) {
    border-right: 2px black solid;
    border-left: 2px black solid;
}
