<h1>Friends List</h1>

<% friends.forEach(function(friend) {%>
    <li><%= friend %></li>
<% }); %>

<form action="/addfriend" method="post">
    <input type="text" name="newFriend" placeholder="New Friend's Name"/>
    <button>Add Friend</button>
</form>
